<% if @likes.any? %>
  <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
    <% @liked_books.zip(@likes) do |book,like| %>
      <div class="col">
        <div class="card">
          <div class="row g-0 card-body">
            <div class="d-grid d-md-flex justify-content-md-end">
              <%= link_to book_like_path(book, like), method: :delete, data: { turbo_method: :delete }, class: 'd-inline-flex align-items-center flex-row btn btn-outline-info btn-sm gap-2 mb-2' do %>
                <i class="bi bi-star-fill"></i>
                <p style="margin-bottom: 0;">お気に入り解除</p>
              <% end %>
            </div>
            <div class="col-md-4">
              <img src= "<%= book.image_link %>" alt="書籍画像">
            </div>
            <div class="col-md-8 p-2">
              <div class="mb-1">
                <h5 class="card-title fw-bold lh-sm"><%= link_to book.title, book_path(id: book.id), data: { turbo: :false }, class: "link-offset-2 link-underline link-underline-opacity-0" %></h5>
                <p class="card-text text-body-secondary"><%= book.author %></p>
              </div>
              <% if book_available?(book) %>
                <div class="d-grid d-md-flex justify-content-md-end">
                  <%= link_to "借りる", new_lending_path(id: book.id), data: { turbo: :false }, class: "btn btn-primary" %>
                </div> 
              <% elsif latest_lending_user(book) %>
                <div class="d-flex align-items-center mb-4" style="gap: 10px;">
                  <h6 class="card-title fw-bold" style="margin-bottom: 0;">返却予定日：</h6>
                  <p class="card-text fs-6 text-body-secondary"><%= schedule_date_for_lending(book) %></p>
                </div>              
                <div class="d-grid d-md-flex justify-content-md-end">
                  <%= link_to "返却する", edit_lending_path(id: book.id), data: { turbo: :false }, class: "btn btn-outline-primary" %>
                </div> 
              <% else %>
                <div class="d-flex align-items-center mb-4" style="gap: 10px;">
                  <h6 class="card-title fw-bold" style="margin-bottom: 0;">返却予定日：</h6>
                  <p class="card-text fs-6 text-body-secondary"><%= schedule_date_for_lending(book) %></p>
                </div>
                <div class="d-grid d-md-flex justify-content-md-end">
                  <button type="button" class= "btn btn-primary disabled">貸出中</button>
                </div>                
              <% end %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-grid d-md-flex justify-content-md-end">
    <%= paginate @likes, theme: 'bootstrap-5' %>
  </div>
<% else %>
  <p class="fs-5 fw-bold">お気に入りに登録している書籍はありません。</p>
<% end %>