<h1 class="fw-bold">会員詳細</h1>
<p style="color: green"><%= notice %></p>

  <div class ="mb-3">
    <div class="d-flex flex-row mb-3 gap-3 align-items-center">
    <h3 class= "fw-semibold mb-0">会員名：</h3>
    <p class= "fw-semibold mb-0"><%= @user.name %></p>
    <%= link_to "会員情報変更", edit_user_registration_path, class: "btn btn-primary" %>
    </div>
  </div>

<div id="lendings">
  <h3 class= "fw-semibold">貸出中の書籍</h3>
  <% if @lending.any? %>
    <table class = "table">
      <thead>
        <tr>
          <th>書籍タイトル</th>
          <th>返却予定日</th>
          <th colspan="3"></th>
        </tr>
      </thead>
      <% @lending.each do |lending| %>
        <tbody>
            <tr>
              <td><%= lending.book.title %></td>
              <td><%= lending.schedule_date %></td>
              <td><%= link_to "返却する", edit_lending_path(id: lending.book.id), class: "btn btn-outline-primary btn-sm" %></td>
            </tr>
        </tbody>
      <% end %>
    </table>
  <% else %>
    <p>現在貸出中の書籍はありません。</p>
  <% end %>
</div>

