<!DOCTYPE html>
<html>
  <head>
    <title><%= content_for(:title) || "Library-record" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="manifest" href="/manifest.json">
    <link rel="icon" href="/icon.png" type="image/png">
    <link rel="icon" href="/icon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/icon.png">
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", type: "module" %>
  </head>

  <body class="bg-body-tertiary">
    <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      <div class="container-xxl bd-gutter flex-wrap flex-lg-nowrap">
        <% if user_signed_in? %>
          <%= link_to books_path do %>
            <%= image_tag 'library-record_logo_n.png', style: "height: 64px;" %>
          <% end %>
        <% else %>
          <%= link_to root_path do %>
            <%= image_tag 'library-record_logo_n.png', style: "height: 64px;" %>
          <% end %>
        <% end %>
        <div class="collapse navbar-collapse" id="navbarText">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <% if user_signed_in? %>
            <li class="nav-item">
              <%= link_to "書籍一覧", books_path, class: "nav-link" %>
            </li>
          <% end %>
          
          <% if current_user.try(:admin?) %>
            <li class="nav-item">
              <%= link_to "書籍登録", search_books_path, class: "nav-link" %>
            </li>
            <li class="nav-item">
              <%= link_to '管理画面', rails_admin_path, class: "nav-link" %>
            </li>
          <% end %>
          </ul>
          <% if user_signed_in? %>
            <ul class="navbar-nav gap-3 align-items-center">
              <li class="nav-item">
                <div class="dropdown" data-bs-theme="light">
                  <button type="button" class="btn btn-dark position-relative" data-bs-toggle="dropdown" aria-expanded="false" data-bs-auto-close="outside">
                    <i class="bi bi-bell-fill"></i>
                    <% if @notifications.any? %>
                      <span class="position-absolute top-0 start-100 translate-middle bg-danger border border-light rounded-circle" style= "padding: 0.4rem">
                        <span class="visually-hidden">New alerts</span>
                      </span>
                    <% end %> 
                  </button>
                  <div class="dropdown-menu p-1 dropdown-menu-end" style="width: 400px;">
                    <div id="notification_list">
                      <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                          <div class="d-grid d-md-flex align-items-center gap-2">
                            <p class="dropdown-header fw-bold p-0">通知</p>
                          </div>
                        </li>
                        <% if @notifications.any? %>
                          <% @notifications.each do |notification| %>
                            <li class="list-group-item">
                              <div class="d-grid d-md-flex align-items-center justify-content-between gap-2">
                                <p style="font-size:12px; margin-bottom: 0;">「<span class="fw-bold"><%= notification.lending.book.title %></span>」の返却期限は<span class="fw-bold text-danger"><%= notification.lending.schedule_date.strftime('%Y/%m/%d') %></span>です。期日までに返却登録をしてください。</p>
                                <div class="d-grid d-md-flex justify-content-md-end gap-2">
                                  <%= link_to "返却", edit_lending_path(notification.lending.book), data: { turbo: :false }, class: "btn btn-primary btn-sm align-items-center", style: "width: max-content; height: max-content;" %>
                                </div>
                              </div>
                            </li>
                          <% end %>
                        <% else %>
                          <li class="list-group-item">
                            <p style="font-size:12px; margin-bottom: 0;">通知はありません。</p>
                          </li>
                        <% end %>
                      </ul>
                    </div>
                  </div>
                </div>
              </li>
              <li class="nav-item dropdown" data-bs-theme="light">
                <button class="btn btn-dark" data-bs-toggle="dropdown" aria-expanded="false">
                  <i class="bi bi-person-circle"></i>
                </button>
                <ul class="dropdown-menu">
                  <li><span class="dropdown-header">ログイン中：<%= current_user.name %></span></li>
                  <li><%= link_to "会員詳細", user_path(current_user), class: "dropdown-item" %></li>
                  <li>
                  <%= link_to destroy_user_session_path, method: :delete, data: { turbo_method: :delete }, class: "dropdown-item" do %>
                    <i class="bi bi-box-arrow-right me-2"></i>ログアウト
                  <% end %>
                  </li>
                </ul>
              </li>
            </ul>
            <% else %>
              <ul class="navbar-nav gap-3 align-items-center">
                <li class="nav-item">
                  <%= link_to "ログイン", new_user_session_path, class: "btn btn-secondary" %>
                </li>
                <li class="nav-item">
                  <%= link_to "新規登録", new_user_registration_path, class: "btn btn-primary" %>
                </li>
              </ul>
          <% end %>
        </div>
      </div>
    </nav>
    <div class = "container-sm" style = "padding-top: 80px;">
      <% if flash[:notice] %>
        <div id="flash" class="alert alert-success alert-dismissible fade show" role="alert">
          <%= flash[:notice] %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
      <% if flash[:alert] %>
        <div id="flash" class="alert alert-danger alert-dismissible fade show" role="alert">
          <%= flash[:alert] %><button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
      <% end %>
    </div>
    <main class="container-sm" style= "margin: 0 auto;">
      <%= breadcrumbs separator: " &rsaquo; ", class: "mb-3"  %>
      <%= yield %>
    </main>
    <%= turbo_frame_tag "modal" %>
  </body>
</html>
