<div id="<%= dom_id user %>">
      <tr>
        <td><%= user.name %></td>
        <td><%= user.age %></td>
        <td><%= user.address %></td>
        <td><%= link_to 'Show', user , class: "btn btn-primary btn-sm" %></td>
        <td><%= link_to 'Edit', edit_user_path(user) , class: "btn btn-outline-primary btn-sm" %></td>
      </tr>
</div>
