<h2 class="fw-bold mb-3">ログイン</h2>
<div class="card mb-3" style = "max-width: 600px;" >
  <div class="card-body">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name), data: { turbo: false } ) do |f| %>
      <div class="field  mb-2">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control" %>
      </div>

      <div class="field  mb-2">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "current-password", class: "form-control" %>
      </div>

      <div class="actions d-grid d-md-flex justify-content-md-end">
        <%= f.submit "ログイン", class: "btn btn-primary" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</div>