<h1 class="mb-4">書籍一覧</h1>
<div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
  <% @books.each do |book| %>
    <div class="col">
      <div class="card">
        <div class="row g-0 card-body">
          <div class="col-md-4">
            <img src= "<%= book.image_link %>" alt="書籍画像">
          </div>
          <div class="col-md-8 p-3">
            <div class="mb-1">
              <h5 class="card-title fw-bold lh-sm"><%= link_to book.title, book_path(id: book.id), class: "link-offset-2 link-underline link-underline-opacity-0" %></h5>
              <p class="card-text text-body-secondary"><%= book.author %></p>
              <div class="d-flex align-items-center mb-2" style="gap: 10px;">
                <h6 class="card-title fw-bold" style="margin-bottom: 0;">お気に入り数：</h6>
                <p class="card-text fs-6 text-body-secondary"><%= Like.currently_likes(book).count %></p>
              </div>
            </div>
            <% if book_available?(book) %>
              <div class="d-grid d-md-flex justify-content-md-end">
                <%= link_to "借りる", new_lending_path(id: book.id), class: "btn btn-primary" %>
              </div>
            <% elsif latest_lending_user(book) %>
              <div class="d-flex align-items-center mb-4" style="gap: 10px;">
                <h6 class="card-title fw-bold" style="margin-bottom: 0;">返却予定日：</h6>
                <p class="card-text fs-6 text-body-secondary"><%= schedule_date_for_lending(book) %></p>
              </div>              
              <div class="d-grid d-md-flex justify-content-md-end">
                <%= link_to "返却する", edit_lending_path(id: book.id), class: "btn btn-outline-primary" %>
              </div>
            <% else %>
              <div class="d-flex align-items-center mb-4" style="gap: 10px;">
                <h6 class="card-title fw-bold" style="margin-bottom: 0;">返却予定日：</h6>
                <p class="card-text fs-6 text-body-secondary"><%= schedule_date_for_lending(book) %></p>
              </div>
              <div class="d-grid d-md-flex justify-content-md-end">
                <button type="button" class= "btn btn-primary disabled">貸出中</button>
              </div>
            <% end %>         
          </div>
        </div>
      </div>
    </div>
  <% end %>
</div>
<div class="d-grid d-md-flex justify-content-md-end">
  <%= paginate @books, theme: 'bootstrap-5' %>
</div>