<%= render "layouts/modal", title: "書籍貸出" do %>
  <%= form_with(model: @lending, data: { action: "turbo:submit-end->modal#close" }) do |f| %>
    <p>タイトル: <%= @lending.book.title %></p>
    <p>貸出日: <%= Date.current %></p>
    <%= f.label "返却予定日", style: "display: block", class: "form-label" %>
    <div class="mb-3">
      <%= f.date_field :schedule_date, min: Date.current, class: "form-control" %>
      <% if @lending.errors.any? %>
        <p class="fw-bold text-danger" style="font-size: 14px;">返却予定日を指定してください。</p>
      <% end %>
    </div>

    <%= f.hidden_field :book_id %>

    <div class="d-grid d-md-flex justify-content-md-end">
      <%= f.submit '確定', class: 'btn btn-primary' %>
    </div>
  <% end %>
<% end %>