<h1>ログイン</h1>

<%= form_with scope: :session, url: login_path, method: :post do |form| %>    
  <div class= "col-md-4">
    <div class="mb-3">
      <%= form.label :name, style: "display: block", class: "form-label" %>
      <%= form.text_field :name, class: "form-control", value: @name %>
    </div>
    <div class="mb-3">
      <%= form.label :address, style: "display: block", class: "form-label" %>
      <%= form.text_field :address, class: "form-control", value: @address %>
    </div> 
    <div>
      <%= form.submit "ログイン", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>
