<h1>Loans#index</h1>

<div id="loans">
    <table class = "table">
    <thead>
      <tr>
        <th>書籍タイトル</th>
        <th>ステータス</th>
        <th>返却予定日</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <% @books.each do |book| %>
      <% latest_loan =  book.latest_loan %>
      <tbody>
        <tr>
          <td><%= book.title %></td>
          <td><%= latest_loan&.returned_date.nil? ? '貸し出し中' : '貸し出し可能' %></td>
          <td><%= latest_loan&.schedule_date %></td>
          <% if latest_loan.nil? || latest_loan.returned_date.present? %>
          <td><%= link_to "借りる", new_loan_path(id: book.id), class: "btn btn-primary btn-sm" %></td>
          <% end %>
        </tr>
      </tbody>
    <% end %>
  </table>
</div>


<%= link_to "View User", users_path, class: "btn btn-primary" %>