<h1>Loans#index</h1>

<div id="loans">
  <% @loans.each do |loan| %>
    <h2>name</h2>
    <p><%= loan.user.name %></p>
    <h2>title</h2>
    <p><%= loan.book.title %></p>
    <h2>borrowed_date</h2>
    <p><%= loan.borrowed_date %></p>
    <%= link_to 'Show', loan , class: "btn btn-primary btn-sm" %>
  <% end %>
</div>


<%= link_to "View User", users_path, class: "btn btn-primary" %>