<h1>Loans#new</h1>
<%= form_with(model: @loan) do |f| %>
  <p>タイトル: <%= @loan.book.title %></p>
  <p>貸出日: <%= Date.current %></p>
  <p>返却予定日: <%= @loan.schedule_date %></p>

  <%= f.hidden_field :book_id %>
  <%= f.hidden_field :schedule_date %>

  <%= f.submit '確定', class: 'btn btn-primary' %>
<% end %>