<h1>書籍貸出</h1>
<%= form_with(model: @lending) do |f| %>
  <p>タイトル: <%= @lending.book.title %></p>
  <p>貸出日: <%= Date.current %></p>
  <p>返却予定日: <%= @lending.schedule_date %></p>

  <%= f.hidden_field :book_id %>
  <%= f.hidden_field :schedule_date %>

  <%= f.submit '確定', class: 'btn btn-primary' %>
<% end %>