<h1>書籍貸出</h1>
<%= form_with(model: @lending) do |f| %>
  <p>タイトル: <%= @lending.book.title %></p>
  <p>貸出日: <%= Date.current %></p>
  <%= f.label "返却予定日", style: "display: block", class: "form-label" %>
  <%= f.date_field :schedule_date, min: Date.current, class: "form-control" %>

  <%= f.hidden_field :book_id %>

  <%= f.submit '確定', class: 'btn btn-primary' %>
<% end %>