<h1 class="fw-bold mb-5">通知一覧</h1>
<div class ="mb-5">
  <%= turbo_frame_tag "notification_list" do %>
    <div class="list-group overflow-y-auto mb-4 list-group-flush rounded border">
      <% if @notifications.any? %>
        <% @notifications.each do |notification| %>
          <div class="list-group-item d-flex justify-content-between align-items-center">
            <div>
              <small><%= notification.created_at.strftime('%Y-%m-%d') %></small>
              <% if action_due_date?(notification) %>
                <h6 class="mb-3 fw-bold">「<%= link_to notification.lending.book.title, book_path(notification.lending.book), data: { turbo: :false }, class: "link-offset-2 link-underline link-underline-opacity-0" %>」の返却期限当日です。本日中に書籍の返却をしてください。</h6>
              <% end %>
            </div>
            <div>
              <% if lending_not_returned(notification) %>
                <%= link_to "返却する", edit_lending_path(notification.lending.book), data: { turbo: :false }, class: "btn btn-outline-primary btn-sm align-items-center", style: "height:max-content;" %>
              <% end %>
            </div>
          </div>
        <% end %>
      <% else %>
        <p class="fs-5 fw-bold">通知はありません。</p>
      <% end %>
    </div>
    <div class="d-grid d-md-flex justify-content-md-end">
      <%= paginate @notifications, theme: 'bootstrap-5' %>
    </div>
  <% end %>
</div>
