<h1>Posts#new</h1>

<%= form_with(model: @post) do |form| %>
  <% if @post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% @post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class= "col-md-4">
    <div class="mb-3">
     <%= form.label :user_id, "Select User", class: "form-label" %>
     <%= form.select :user_id, User.all.map { |user| [user.name, user.id] }, { prompt: "Choose a user" }, class: "form-select" %>
    </div>
    <div class="mb-3">
      <%= form.label :title, style: "display: block", class: "form-label" %>
      <%= form.text_field :title, class: "form-control" %>
    </div>
    <div class="mb-3">
      <%= form.label :content, style: "display: block", class: "form-label" %>
      <%= form.text_field :content, class: "form-control" %>
    </div>    
    <div>
      <%= form.submit "Save Post", class: "btn btn-primary" %>
    </div>
  </div>
<% end %>

<%= link_to "Back to posts", posts_path, class: "btn btn-secondary" %>